@font-face {
  font-family: "ApercuPro";
  font-style: normal;
  font-weight: normal;
  src: url("/dist/fonts/ApercuPro/regular/ApercuProRegular.eot?") format("eot"), url("/dist/fonts/ApercuPro/regular/ApercuProRegular.woff2") format("woff2"), url("/dist/fonts/ApercuPro/regular/ApercuProRegular.woff") format("woff"), url("/dist/fonts/ApercuPro/regular/ApercuProRegular.ttf") format("truetype"), url("/dist/fonts/ApercuPro/regular/ApercuProRegular.svg#ApercuPro") format("svg");
}

@font-face {
  font-family: "ApercuProMono";
  font-style: normal;
  font-weight: normal;
  src: url("/dist/fonts/ApercuProMono/mono/ApercuProMono.eot?") format("eot"), url("/dist/fonts/ApercuProMono/mono/ApercuProMono.woff2") format("woff2"), url("/dist/fonts/ApercuProMono/mono/ApercuProMono.woff") format("woff"), url("/dist/fonts/ApercuProMono/mono/ApercuProMono.ttf") format("truetype"), url("/dist/fonts/ApercuProMono/mono/ApercuProMono.svg#ApercuProMono") format("svg");
}

@font-face {
  font-family: "MinionPro";
  font-style: normal;
  font-weight: normal;
  src: url("/dist/fonts/MinionPro/regular/MinionProRegular.eot?") format("eot"), url("/dist/fonts/MinionPro/regular/MinionProRegular.woff2") format("woff2"), url("/dist/fonts/MinionPro/regular/MinionProRegular.woff") format("woff"), url("/dist/fonts/MinionPro/regular/MinionProRegular.ttf") format("truetype"), url("/dist/fonts/MinionPro/regular/MinionProRegular.svg#MinionPro") format("svg");
}

@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: normal;
  src: url("/dist/fonts/MyriadPro/regular/MyriadProRegular.eot?") format("eot"), url("/dist/fonts/MyriadPro/regular/MyriadProRegular.woff2") format("woff2"), url("/dist/fonts/MyriadPro/regular/MyriadProRegular.woff") format("woff"), url("/dist/fonts/MyriadPro/regular/MyriadProRegular.ttf") format("truetype"), url("/dist/fonts/MyriadPro/regular/MyriadProRegular.svg#MyriadPro") format("svg");
}

@font-face {
  font-family: "WebSymbolsLiga";
  font-style: normal;
  font-weight: normal;
  src: url("/dist/fonts/WebSymbolsLiga/websymbolsligaregular.eot?") format("eot"), url("/dist/fonts/WebSymbolsLiga/websymbolsligaregular.woff2") format("woff2"), url("/dist/fonts/WebSymbolsLiga/websymbolsligaregular.woff") format("woff"), url("/dist/fonts/WebSymbolsLiga/websymbolsligaregular.ttf") format("truetype"), url("/dist/fonts/WebSymbolsLiga/websymbolsligaregular.svg#WebSymbolsLiga") format("svg");
}

@font-face {
  font-family: "ApercuPro";
  font-style: normal;
  font-weight: bold;
  src: url("/dist/fonts/ApercuPro/bold/ApercuProBold.eot?") format("eot"), url("/dist/fonts/ApercuPro/bold/ApercuProBold.woff2") format("woff2"), url("/dist/fonts/ApercuPro/bold/ApercuProBold.woff") format("woff"), url("/dist/fonts/ApercuPro/bold/ApercuProBold.ttf") format("truetype"), url("/dist/fonts/ApercuPro/bold/ApercuProBold.svg#ApercuPro") format("svg");
}

* {
  font-family: 'ApercuPro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

*::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "ApercuProMono", sans-serif;
  color: #000000;
  opacity: 1;
}

*::-moz-placeholder {
  font-size: 14px;
  font-family: "ApercuProMono", sans-serif;
  color: #000000;
  opacity: 1;
}

*:-ms-input-placeholder {
  font-size: 14px;
  font-family: "ApercuProMono", sans-serif;
  color: #000000;
  opacity: 1;
}

*::placeholder {
  font-size: 14px;
  font-family: "ApercuProMono", sans-serif;
  color: #000000;
  opacity: 1;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: inline-block;
}

.container {
  max-width: 1070px;
  padding: 0 20px;
}

.row {
  margin: 0 -20px;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  padding: 0 20px;
}

@media only screen and (max-width: 767px) {
  .hidden-sm {
    display: none;
  }
}

.hidden-md {
  display: none;
}

@media only screen and (max-width: 767px) {
  .hidden-md {
    display: block;
  }
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.toggle-mnu {
  display: block;
  width: 24px;
  height: 24px;
  float: right;
}

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

.mobile-menu {
  background-color: #EBDECD;
  margin-top: 20px;
  display: none;
}

.mobile-menu .menu__link-mobile {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.header {
  padding: 30px 0;
}

.logo {
  width: 337px;
  height: auto;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .logo {
    width: 100%;
  }
}

.menu {
  text-align: right;
}

.menu__link {
  text-decoration: none;
  font-size: 18px;
  font-family: 'ApercuPro', sans-serif;
  font-weight: bold;
  margin-left: 15px;
  display: inline-block;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.menu__link.active {
  color: #9b9b9b;
}

.menu__link:hover {
  color: #9b9b9b;
}

.slider-top-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sliderItem {
  height: 560px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .sliderItem {
    height: 420px;
  }
}

.sliderItem__text {
  font-size: 48px;
  color: #ffffff;
  padding-top: 44px;
}

@media only screen and (max-width: 767px) {
  .sliderItem__text {
    font-size: 36px;
  }
}

.slider-top-nav {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 1040px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 1040px) {
  .slider-top-nav {
    width: 100%;
    left: 20px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

.slider-nav .slick-dots {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-nav .slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #fff;
  margin-right: 7px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

.slider-nav .slick-dots li.slick-active {
  background-color: transparent;
}

.slider-nav .slick-dots li:hover {
  cursor: pointer;
}

.slider-nav .slick-dots button {
  opacity: 0;
}

.section {
  padding: 50px 0;
}

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 23px;
}

@media only screen and (max-width: 767px) {
  .section__title {
    font-size: 36px;
    margin: 0 -15px 23px;
  }
}

@media only screen and (max-width: 767px) {
  .section__title img {
    width: 100%;
  }
}

.section__text {
  font-size: 24px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 767px) {
  .section__text {
    font-size: 18px;
  }
}

.link {
  font-size: 12px;
  display: inline-block;
}

.link:hover {
  text-decoration: none;
}

.news {
  padding: 42px 0 54px;
}

.newsItem {
  max-width: 290px;
}

@media only screen and (max-width: 991px) {
  .newsItem {
    max-width: 350px;
    width: 350px;
  }
  .newsItem:last-child {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .newsItem {
    max-width: 100%;
    width: 100%;
  }
  .newsItem:nth-child(2) {
    display: none;
  }
}

.newsItem__border {
  border-bottom: 2px solid #f4e6d4;
  border-left: 2px solid #f4e6d4;
  border-right: 2px solid #f4e6d4;
  padding: 20px;
}

.newsItem__img {
  display: block;
}

.newsItem__type {
  font-size: 12px;
  margin-bottom: 30px;
}

.newsItem__title {
  font-size: 18px;
}

.newsItem__title b {
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.section-instagram .section__title {
  margin-bottom: 42px;
}

@media only screen and (max-width: 767px) {
  .section-instagram .container {
    padding: 40px;
  }
  .section-instagram .container .row .col-4 {
    padding: 0 5px;
  }
}

.instagramImg {
  margin-bottom: 20px;
  width: 100%;
}

.footer {
  border-top: 1px solid #000;
  padding: 34px 0 200px;
  margin-top: 46px;
}

.footer__link {
  font-size: 18px;
  text-decoration: none;
  line-height: 28px;
  font-family: "ApercuProMono", sans-serif;
  font-weight: normal;
}

.copyright {
  font-family: "ApercuProMono", sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-top: 50px;
}

.footer__phone, .footer__mail {
  font-size: 18px;
  line-height: 28px;
  font-family: "ApercuProMono", sans-serif;
  font-weight: normal;
}

.social__link {
  font-family: "WebSymbolsLiga", sans-serif;
  font-size: 36px;
  margin-left: 14px;
}

.bgImageSec {
  background-image: url(../img/bgImgSec.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 0 182px;
  margin-bottom: 38px;
}

@media only screen and (max-width: 767px) {
  .bgImageSec {
    margin-top: 74px;
    background-image: url(../img/bgImgsec-mobile.jpg);
  }
}

.bgImageSec__text {
  font-size: 48px;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .bgImageSec__text {
    font-size: 36px;
  }
}

.carousel-wrapper {
  position: relative;
}

.carousel-nav {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.newsPreview {
  padding-top: 155px;
}

@media only screen and (max-width: 991px) {
  .newsPreview {
    display: none;
  }
}

.newsPreview__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.newsPreview__border {
  border-top: 2px solid #f4e6d4;
  border-right: 2px solid #f4e6d4;
  border-bottom: 2px solid #f4e6d4;
  margin-left: -40px;
  height: 100%;
  padding: 14px 50px 33px 40px;
}

.newsPreview__type {
  font-size: 12px;
  font-family: "ApercuProMono", sans-serif;
  margin-bottom: 24px;
}

.newsPreview__title {
  font-size: 48px;
  margin-bottom: 30px;
}

.newsPreview__text {
  font-size: 18px;
}

.article {
  padding: 140px 0 182px;
}

@media only screen and (max-width: 767px) {
  .article {
    padding-bottom: 162px;
  }
}

@media only screen and (max-width: 767px) {
  .article p {
    font-size: 14px;
  }
}

.article__head {
  font-size: 12px;
  text-align: center;
  margin-bottom: 18px;
}

.article__title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 58px;
}

@media only screen and (max-width: 767px) {
  .article__title {
    font-size: 36px;
  }
}

.article__img {
  padding: 0 15px;
  margin-bottom: 33px;
}

@media only screen and (max-width: 767px) {
  .article__img {
    padding: 0;
  }
}

.map {
  background-image: url(../img/yandex.jpg);
  background-position: center;
  height: 560px;
}

@media only screen and (max-width: 767px) {
  .map {
    height: 400px;
  }
}

.contacts__title {
  font-size: 24px;
}

.contacts p {
  font-size: 14px;
  font-family: "ApercuProMono", sans-serif;
  font-weight: normal;
}

.contacts .link {
  font-size: 14px;
}

.emails {
  padding: 150px 0 15px;
}

.emailsItem {
  margin-bottom: 50px;
}

.emails__title {
  font-family: "ApercuPro", sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.emails__link {
  font-family: "ApercuProMono", sans-serif;
  font-size: 14px;
}

.sendForm {
  padding: 50px 0;
  position: relative;
}

.sendForm::after {
  content: '';
  background-image: url(../img/stamp.png);
  height: 182px;
  width: 160px;
  position: absolute;
  top: -6px;
  right: 18px;
}

@media only screen and (max-width: 991px) {
  .sendForm::after {
    right: -10px;
  }
}

@media only screen and (max-width: 767px) {
  .sendForm::after {
    right: -15px;
    top: 60px;
    width: 88px;
    height: 99px;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (max-width: 479px) {
  .sendForm::after {
    top: 105px;
  }
}

.sendForm__title {
  font-size: 48px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .sendForm__title {
    font-size: 36px;
  }
}

.input, .textarea {
  width: 100%;
  border: 2px solid #ebdecd;
  padding: 18px 19px;
  margin-bottom: 24px;
  font-size: 14px;
  font-family: "ApercuProMono", sans-serif;
}

.input.no-margin, .textarea.no-margin {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .input.no-margin, .textarea.no-margin {
    margin-bottom: 24px;
  }
}

.textarea {
  min-height: 200px;
}

.captcha {
  border: 2px solid #ebdecd;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .captcha {
    margin-bottom: 24px;
    height: auto;
  }
}

.sendForm__button {
  background-color: #ebdecd;
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-family: "ApercuProMono", sans-serif;
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .sendForm__button {
    height: 52px;
  }
}

.copyright-mobile {
  display: none;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .copyright-mobile {
    display: block;
  }
}

.copyright-mobile__text {
  font-family: "ApercuProMono", sans-serif;
  font-size: 14px;
}
